@import "../components/variables";
@import "../components/listas";
@import "../components/extend";

footer {
	background-image:$bg-footer;
}
.container-flex-footer {
	display: flex;
	justify-content: center;
	margin: 1em;
}
.menu {
	width: 400px;
	display: flex;
	justify-content: space-between;

    @media (max-width: 600px){
        width: 320px;
    }
}


.h6-conectar {
	position: relative;
	margin: auto 0;
}