@import "../components/variables";
@import "../components/listas";
@import "../components/extend";

.logonav {
	position: relative;
	text-align: center;
	margin: -.3em 1em;
	height: 2.5em;
	width: 2em;
}
.bg-dark-transparent {
	background: $navbar-degrade;
	font-weight:bold;
}
.nav-link {
	&:hover {
		color: nth($colores-principales , 2 ) !important;
	}
}
.navbar-brand {
	margin-left: .5em;
}
.index-menu {
	z-index: 20;
}
.dropdown-menu {
	background-color: #f8ba94 !important;
}