/* inputs */
input[type="email"] {
	background-color: rgba(255, 255, 255, 0.527);
}

textarea {
	font-size: 1em;
	font-family: 'Nunito', sans-serif;
	background-color: rgba(255, 255, 255, 0.616);
	border-radius: .5em;

	&:focus {
		background-color: white;
	}
}

input {
	background: rgba(255, 255, 255, 0.425);
	font-size: 1.25em;
	margin: 2px;

	&:hover {
		background: rgb(73, 73, 73);
		color: black;
	}

	&:focus {
		background: white;
	}
}

/* formulario tarjeta*/
.credit-card-div {
	span {
		padding-top: 10px;
	}

	img {
		padding-top: 30px;
	}

	.small-font {
		font-size: 9px;
	}

	.pad-adjust {
		padding-top: 10px;
	}
}

/*formulario contacto*/
.header {
	font-family: 'Nunito', sans-serif;
	font-size: 2em;
	padding: 10px;
	text-shadow: .01em 0 .01em black, 0 .01em .1em black;
}

.bg-blue-light {
	background-color: #74b3b2b0;
}

.bigicon {
	font-size: 3.5em;
}

/*opinion*/

#form {
	width: 250px;
	margin: 0 auto;
	height: 50px;
}

#form p {
	text-align: center;
}

#form label {
	font-size: 20px;
}

input[type="radio"] {
	display: none;
}

label {
	color: grey;
}

.clasificacion {
	direction: rtl;
	unicode-bidi: bidi-override;
}
p{
	input{
		label{
			& :hover{
				color: orange;
			}
		}
	}
}

input[type="radio"]:checked~label {
	color: orange;
}