
$colores-principales: #ffebe0, #ffc6a6, #f5b993af, #F5A97A;
/*nth($colores-principales, 2)*/

$colores-secundarios:#869bb3b6,#ccffe2b7, #cec1ba8f;

$boton:#ffb3aba8, #FFD080;

$colors-comunity: #bfcdc88f, #5B685F;

$tipografia: "item-1", "item-2", "item-3" ;
