
$colores-principales: #FFE7D9, #ffc6a6, #f5b893, #F5A97A;
/*nth($colores-principales, 2)*/

$colores-secundarios:#869BB3,#CCFFE2, #cec1ba8f;

$boton:#ffb3aba8, #FFD080;

$tipografia: "item-1", "item-2", "item-3" ;
